<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>AppointMED</title>
</head>
<body>
    <div class="navbar">
        <img class="header-logo" src="../static/images/AppointMED.svg" alt="AppointMED logo">
        <div class="navbar-elements">
            <a class="nav-element border-transparent rounded-full hover:border-emerald-500" href="/home">Home</a>
            <a class="nav-element border-transparent rounded-full hover:border-emerald-500" href="/about">About</a>
        </div>
    </div>
<div class="about-content">
    <h1>Frequently Asked Questions</h1>
    <ul>
        <li>
            <h2>What is AppointMED?</h2>
            <p>AppointMED is a web application that allows you to schedule appointments with your doctor.
                You can also view your appointments and see your doctor's availability.</p>
        </li>
        <br>
        <li>
            <h2>How do I schedule an appointment?</h2>
            <p>To schedule an appointment, you don't need to sign up. Just click on a doctor which fits your needs
                and choose a date and time that works for you.
            </p>
        </li>
        <br>
        <li>
            <h2>How do I view my appointments?</h2>
            <p>Since AppointMED doesn't use accounts you have to save the url you get when you make appointment.</p>
        </li>
        <br>
        <li>
            <h2>How do I view my doctor's availability?</h2>
            <p>Clik on the "Home" tab and choose a doctor. After that you can select a date you would like to view
                availability for.</p>
        </li>
    </ul>
</div>
</body>
</html>
