<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Whisper&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    
    <title>AppointMED</title>

</head>
<body>
    <div class="navbar">
        <img class="header-logo" src="../static/images/AppointMED.svg" alt="AppointMED logo">
        <div class="navbar-elements">
            <a class="nav-element border-transparent rounded-full hover:border-emerald-500" href="/home">Home</a>
            <a class="nav-element border-transparent rounded-full hover:border-emerald-500" href="/about">About</a>
        </div>
    </div>
    <div id="main" class="flex">
        <form id="search"  method="post" action="/home">
            <div id="search-input">
                <div id="doctor-name">
                    <span class="material-icons material-icons-outlined"> search</span>
                    <input class="style:none" placeholder="Search Doctor..." type="search" name="doctor-name" id="doctor-name">
                </div>
         
                <select name="doctor-specialty" id="doctor-specialty">
                    <option value="">All</option>
                    <option value="dermatologist">Dermatologist</option>
                    <option value="allergist">Allergist</option>
                    <option value="cardiologist">Cardiologist</option>
                    <option value="gastroenterologist">Gastroenterologist</option>
                </select>
            </div>
            <div id="doctors">
                {% for doctor in doctors %}
                <a href="/Schedule/{{doctor['doc_id']}}">
                <div class="doctor cursor-pointer border-gray-300" data-geo="{{ doctor['lat'] }},{{ doctor['lng'] }}">
                    <div class="doctor-photo-wrapper">
                      <span class="doctor-photo material-icons material-symbols-outlined">
                        account_circle_full
                    </span>  
                    </div>  
                    <div class="doctor-name">
                        <p style="font-weight: bolder;">Dr. {{ doctor['first_name'] }} {{ doctor['last_name'] }}</p>
                        <div class="review">
                           <span class="star material-icons material-symbols-outlined">star</span>
                            <span class="star material-icons material-symbols-outlined">star</span>
                            <span class="star material-icons material-symbols-outlined">star</span>
                            <span class="star material-icons material-symbols-outlined">star</span>
                            <span class="star material-icons material-symbols-outlined">star</span> 
                        </div>      
                    </div>
                    <div class="doctor-specialty">
                        {% for specialty in doctor['specialties'] %}
                            {{ specialty }}
                        {% endfor %}
                    </div>
                </div>
                </a>
                {% endfor %}

            </div>
            <div class="rounded-full" id="submit">
                <input class="cursor-pointer" type="submit" value="Search">
            </div>
        </form>
        <script src="../static/js/script.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsJY7KojcXDneWqXV1h0J891NbgFrdglE&map_ids=122517338e1e4a8&callback=initMap"></script>
        <div id="map-view"> 
            <div id="map"></div>
        </div>  
    </div>
    
    
</body>
</html>