<div class="patient-profile">
    <div class="profile-header">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <p>Email: <span>{{ user.email }}</span></p>

    </div>

    <h3>Appointments</h3>
    <table class="appointments-table">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Doctor</th>
                <th>Specialty</th>
                <th>Location</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in user.appointments %}
            <tr>
                <td>{{ appointment.date }} at {{ appointment.time }}</td>
                <td>Dr. {{ appointment.doctor_name }}</td>
                <td>{{ appointment.doctor_specialty }}</td>
                <td>{{ appointment.location }}</td>
                <td>{{ appointment.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
